# Local Data & Secrets
.env
.env.local
.streamlit/secrets.toml

# Data directory (Database files)
data/*.json
!data/.gitkeep

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env_win/

# IDEs
.vscode/
.idea/
.DS_Store


